<section class="well">
    <div class="profilepic align-center">
        <script src="{{ root_url }}/javascripts/md5.js"></script>
        <script type="text/javascript">
            $(function(){
                    $('.profilepic').append("<img src='http://www.gravatar.com/avatar/" + MD5("{{ site.email | downcase }}") + "?s=160' alt='Profile Picture' style='width: 160px;' class='img-rounded' />");
                    });
        </script>
    </div>
    <hr/>

    <ul id="about_me" class="nav nav-list">
        <li class="nav-header">About Me</li>
        <li>{{ site.description }}</li>
    </ul>
    <hr/>
    <ul id="profile" class="nav nav-list">
        <li><b>GitHub</b> : <a href="https://github.com/{{site.github_user}}/">{{ site.github_user }}</a></li>
    </ul>
</section>
