<section class="well">
    <ul id="profile" class="nav nav-list">
        <li class="nav-header">Profile</li>
        <li><a href="https://github.com/{{site.github_user}}/">GitHub</a></li>
        <li><a href="https://gitcafe.com/{{site.github_user}}/">GitCafe</a></li>
        <li><a href="http://weibo.com/{{site.weibo_user}}/">Weibo</a></li>
        <li><a href="https://twitter.com/{{site.twitter_user}}/">Twitter</a></li>
        <li><a href="https://facebook.com/{{site.facebook_user}}/">Facebook</a></li>
        <li><a href="http://www.zhihu.com/people/{{site.zhihu}}">Zhihu</a></li>
    </ul>
</section>
