{% if post.author %}
{% assign author = post.author %}
{% elsif page.author %}
{% assign author = page.author %}
{% else %}
{% assign author = site.author %}
{% endif %}
<!--{% if author %}<span class="byline author vcard">Posted by <span class="fn">{{ author }}</span></span>{% endif %}-->
{% if author %}
<hr/>
<div class="author clear">
        <div class="author_pic left pl20 pr20">
            <script src="{{ root_url }}/javascripts/md5.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                        $('.author_pic').append("<img src='http://www.gravatar.com/avatar/" + MD5("{{ site.email | downcase }}") + "?s=100' alt='Profile Picture' style='width: 100px;' class='img-polaroid'/>");
                        });
            </script>
        </div>
        <div class="author_info left">
            <h3>{{site.author}}</h3>
            <p>{{site.description}}</p>
        </div>
</div>
<hr/>
{% endif %}
