{% if post.author %}
{% assign author = post.author %}
{% elsif page.author %}
{% assign author = page.author %}
{% else %}
{% assign author = site.author %}
{% endif %}
<!--{% if author %}<span class="byline author vcard">Posted by <span class="fn">{{ author }}</span></span>{% endif %}-->
{% if author %}
<hr/>
<div class="author clear">
        <div class="author_pic left pl20 pr20">
        </div>
        <div class="author_info left">
            <h3>{{site.author}}</h3>
            <p>{{site.description}}</p>
        </div>
</div>
<hr/>
{% endif %}
